//Colocar por orden las variables, antes del constructor 
    //Formulario lado izquierdo nombres, centro contenedores/input titulo de formulario  nombre apellido numeros  fecha de nacimiento, descripcion en text area boton tenga un estilo "hover" background completo 1 color 
$primary-color: #999

.button
    transition-duration: 0.4s
    color: black
    cursor: pointer

.button:hover 
  background-color: #4CAF50 ///* Green */
  color: white


.center
    text-align: center

.left
    text-align: left
    margin-right: 10px
h1
    text-align: center
div 
    margin-bottom: 5.95vh
    margin-right: 5px 
    color: white



   
