<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="background-color:rgb(129, 117, 117);">
  <form class="center" action="">
      <h1>Titulo</h1>
      <div >
        <label class="left" for="">Nombre</label>
        <input type="text" placeholder="Consuelo"required>
        <br>
        <label class="left" for="">Apellidos</label>
        <input type="text" placeholder="Soto">
        <br>
        <label class="left">Fecha de nacimiento</label>
        <input type = "datetime-local">
        <h1>Escriba sus comentarios abajo</h1>
        <textarea name="textarea" rows="10" cols="50" placeholder="Ta fea la app.."></textarea>
        <br>
        <button class="button">Enviar datos</button>
      </div>


  </form>

</body>

</html>
